<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="htpp://www.ultraq.net.nz/thymeleaf/layout">
<head lang="pt-br">
<meta charset="utf-8">
<title>Evento App</title>
</head>
<body>


<h1>Cadastro de Transportes</h1>
<form method="post">
   Nome: <input type="text" value="" name="nome"/>
   Cidade de Destino: <input type="text" value="" name="cidadeDestino"/>
   Km: <input type="text" value="" name="km"/>
   Data Saida: <input type="date" value="" name="dataSaida"/>
   Data Chegada: <input type="date" value="" name="dataChegada"/>
   Horário Saida: <input type="text" value="" name="horaSaida"/>
   Horário previsto de chegada: <input type="text" value="" name="previsaoChegada"/>
   <button type="submit">Salvar</button>
</form>
</body>
</html>